.wrapper {
    display: flex;
    justify-content: space-between;
}

#canvas {
    border: 2px solid black;
    width: 60%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#canvas__wrapper {
    margin: 20px;
    width: 312px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.default {
    height: 100px;
    width: 100px;
    margin: 2px;
}

#tools, #colors {
    display: flex;
    flex-direction: column;
}

#colors {
    margin-top: 20px;
}

.dashboard {
    width: 30%
}