ul, ul {
    list-style: none
}

header {
    display: flex;
    width: 100%;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

header button {
    background: inherit;
    border: none;
}

header button:last-child{
    margin-left: auto;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#canvas {
    border: 2px solid black;
    width: 60%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#canvas__wrapper {
    margin: 20px;
    width: 312px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.default {
    height: 100px;
    width: 100px;
    margin: 2px;
}

#tools, #colors {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

#tools button, #colors button{
    width: 80%;
    text-align: left;
    background: inherit;
    border: none;
}

#colors {
    margin-top: 100px;
}

.dashboard {
    width: 30%
}